/*Jess*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;900&display=swap');

body {
    /* {Malcolm} testing placement */
    /* {Ernesto} Changed Background color */
    background-color: rgba(183, 227, 245, 0.87)
}

/* {Malcolm} Header/Title */
/* {Jess} */
h1 {
    color: white;
    font-weight: 600;
    text-align: center;
}

/* {Jess} */
h1,
.nav-link {
    font-family: 'Noto Sans SC', sans-serif;
}

/* {Malcolm} Reorganized Navbar CSS*/
.btn-outline-warning {
    /* {Ivan's Knicks color scheme} */
    border-color: orange;
    background-color: cornflowerblue;
}

.navbar-light .navbar-nav .nav-link {
    /* {Ivan's Knicks color scheme} */
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

button:hover {
    /* {Ivan's Knicks color scheme} */
    background-color: orange !important;
    border-color: cornflowerblue !important;
}

#navbarNavAltMarkup {
    /* {Ivan's Knicks color scheme} */
    justify-content: center;
    margin-top: 30px;
}

/* {Jess} */
.search-field {
    width: 0;
    height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    border: none;
    transition: all 0.5s ease;
}

/* {Jess} */
.top-nav {
    text-align: center;
    justify-content: center;
    background-color: #027BCE;

}

/* {Jess} */
nav {
    width: 60%;
    margin: auto auto auto auto;
    border-radius: 5px;
}

/* {Jess} */
.searchBar {
    margin: 0px auto;
}

/* {Jess} */
svg {
    width: 20px;
    height: 20px;
}

/* {Jess} */
.expand-search {
    width: 95%;
    padding: .5rem;
}

/* {Malcolm/Ernesto} Modifying local storage bar */
/* #input-storage{
    /* background-color: violet; */
/* } */
*/ .badge {
    background-color: green;
    font-size: 20px;
    padding: 20px;
}

/* {Malcolm} Reorganized "Presentation" container CSS*/
/* {Malcolm} Working on making the images and the weather card appear side by side */
/* {Ernesto} Adjusted Height, Width, and Background Color */
#presentation {
    /* {Malcolm} Testing background color of container, when the two IDs dont fit the container the gold background shows */
    background-color: rgb(243, 215, 163);
    width: 1600px;
    height: 600px;
     position: relative; 

    }

/* {Malcolm} matched both ID and Class. Deleted a few conflicting code */
.current-weather,
#currrent-weather {
    background-color: rgba(183, 227, 245, 0.87);
    width: 500px;
    margin: 250px;
    height: auto;
    float: left;
}

/* {Malcolm} Created h3 and p tag CSS to edit the font and alignement */
h3 {
    text-align: center;
}

p {
    font-size: 30px;
}

/* {Malcolm} Not needed since we are most likely deleting the card */
/* .card {
    height: 700px;
    width: 50%;
    float: left;
} */

/* {Malcolm} Placed the d block and w100 together because they didnt seem to move the whole card without eachother  */
/* {Ernesto} Adjusted Height */
.d-block,
.w-100 {
    height: 600px;
    width: 900px;
    /* will test which carousel or d-block floating should float right  */
    float: right;    
    padding-bottom: 20;
    
}

#carouselExampleControls {
    float: right;
    width: 800px;
}

/* {Ernesto} changing background colors when responsive */
@media screen and (max-width:992px) {

    .top-nav,
    svg,
    button,
    .navbar,
    .bg-primary {
        background-color: rgb(32, 187, 187) !important;
    }

    body {
        background-color: rgb(243, 226, 195);
    }

    #presentation {
        background-color: rgb(32, 187, 187);
        margin-bottom: 20%;
        margin-top: 20%;
        height: 558px;
    }

    .d-block,
    .w-100 {
        height: 558px;
    }

    .current-weather,
    #currrent-weather {
        background-color: rgb(243, 226, 195);
    }
}

.btTag,
.wrapper {
    /* position: relative; */
    margin-top: 7%;
    background-color: #027BCE !important;
}

/* END */